<%= form_tag login_path do %>
  <div class="large-4 large-centered columns">
    <div class="panel">
      <div class="login-box">
        <div class="row">
          <div class="large-12 columns">
            <form>
              <div class="row">
                <div class="large-12 columns">
                  <h1 class="text-center">Lets Party!</h1>
                  <hr>
                  <% if notice %>
                    <p class="text-center">
                      <%= notice %>
                    </p>
                    <hr>
                  <% end %>
                </div>
              </div>
               <div class="row">
                 <div class="large-12 columns">
                   <%= text_field_tag :username, params[:username], placeholder: 'Username' %>
                 </div>
               </div>
               <!-- <div class="row">
                 <div class="large-12 columns">
                     <input type="text" name="email" placeholder="Email" />
                 </div>
               </div> -->
                <div class="row">
                   <div class="large-12 columns">
                     <%= password_field_tag :password, params[:password], placeholder: 'Password' %>
                   </div>
                </div>
              <div class="row">
                <div class="large-12 large-centered columns">
                  <%= submit_tag 'Login', class: 'button expand' %>
                </div>
              </div>
              <div class="row">
                <div class="text-center">
                  <%= link_to 'Sign up', new_user_path %>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
