<%= form_for @user do |f| %>
  <div class="large-4 large-centered columns">
    <div class="panel">
      <div class="login-box">
        <div class="row">
          <div class="large-12 columns">
            <form>
              <div class="row">
                <div class="large-12 columns">
                  <h1 class="text-center">New User</h1>
                  <hr>
                  <% if notice %>
                    <p class="text-center">
                      <%= notice %>
                    </p>
                    <hr>
                  <% end %>
                </div>
              </div>
               <div class="row">
                 <div class="large-12 columns">
                   <%= f.text_field :username, placeholder: 'Username' %>
                     <!-- <input type="text" name="username" placeholder="Username" /> -->
                 </div>
               </div>
               <div class="row">
                 <div class="large-12 columns">
                   <%= f.email_field :email, placeholder: 'Email' %>
                 </div>
               </div>
                <div class="row">
                   <div class="large-12 columns">
                     <%= f.password_field :password, placeholder: 'Password' %>
                   </div>
                </div>
              <div class="row">
                <div class="large-12 large-centered columns">
                  <%= f.submit 'Sign up!', class: 'button expand'%>
                </div>
              </div>
              <div class="row">
                <div class="text-center">
                  <%= link_to 'Log in', root_path %>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
