<!DOCTYPE html>
<html>
<head>
  <title>LetsParty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://maps.googleapis.com/maps/api/js"></script>

</head>
<body>
  <div class="container">
    <% if current_user %>
      <a href="/"><img src="icon.png", class="icon", height="64", width="64"></a>
      <% if "#{request.fullpath}" != '/options' %>
        <a href='/options'><img src="dropdown.png", class="dropnav", height="50", width="50"></a>
      <% end %>
    <% end %>
    <%= yield %>

  </div>
</body>
</html>
