<!DOCTYPE html>
<html>
<head>
  <title>LetsParty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <!-- <div class="contain-to-grid sticky">
      <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
        <ul class="title-area">
          <li class="name">
            <p><%= link_to 'LetsParty!', root_path %><p>
          </li>
        </ul>
      </nav>
    </div> -->
  <!-- <div class="large-3 medium-4 columns">
    <div class="hide-for-small">
      <div class="sidebar">
        <img src="143.png" style="width:150px;height:100px">
        <h3><%= link_to 'Lets Party!', root_path %></h3>
        <ul class="side-nav">
          <li><h6>Friends</h6></li>
          <li class="divider"></li>
          <li><h6>Start the Party</h6></li>
          <li class="divider"></li>
          <li><h6>Profile</h6></li>
          <li class="divider"></li>
          <li><h6>About</h6></li>
        </ul>

      </div>
    </div>
  </div> -->

  <div class="container">



    <%= yield %>

  </div>
</body>
</html>
