<!DOCTYPE html>
<html>
<head>
  <title>LetsParty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div class="container">
    <a href="/"><img src="icon.png", class="icon", height="64", width="64"></a>
    <img src="dropdown.png", class="dropdown", height="50", width="50">
    <%= yield %>

  </div>
</body>
</html>
